@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

h2 {
    font-size: 5rem;
    font-weight: bold;
    padding: 3rem;
}

p {
    text-align: center;
    padding-bottom: 3rem;
    font-size: 2rem;
    font-weight: bold;
}

.coming-soon {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.countdown {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.day,.hour,.minute,.second {
    font-size: 3rem;
}

.waiting {
    height: 40vh;
    margin-top: 2rem;
}

.dark-mode {
    text-align: center;
    justify-items: center;
}

.fas {
    margin: 2rem;
    cursor: pointer;
}

.far {
    margin: 2rem;
    cursor: pointer;
    color: white;
}

.dark-mode-colors {
    color: #0fb;
    background-color: #222;
}